.social-icon {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.company-details h5{
  font-size: 2rem;
  font-weight: 700;
  
}
@media (max-width:500px) {
  .hurry{
    font-size: 20px;
  }
  h5{
    font-size: 1.2rem;
  }
  .company-details h5{
    font-size: 1.4rem;
  }
}
@media (max-width: 768px) and (min-width: 401px) {
  .social-icon {
    justify-content: center;

  }
   h5{
    font-size: 1.4rem;
  }
  .marquee h3 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
  .header-wrapper .navbar {
    margin-top: 20px;
    text-align: center;

  }
  
  .navbar-brand img {
    margin: 0 auto;
    display: block;
    height: 220px;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display: none;
  }

  h3 {
    font-size: 28px;
  }
  .question p.show {
    max-height: 300px;
    opacity: 1;
    padding: 0px 15px 30px 15px;
}
.para{
  font-size: 16px;
}
h2 {
    font-size: 18px;
  }

  
}

@media (max-width: 400px) {
  h3 {
    font-size: 24px;

  }
  
}

h1,
h2,
h3,
h4 {
  word-wrap: break-word;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }
  
}

.btn {
  white-space: nowrap;
}

.box {
  min-height: 250px;

}

@media (max-width: 768px) {
  .box {
    min-height: auto;
    text-align: center;
  }
}

.accordion-button h2 {
  font-size: 1rem;
  margin: 0;
}



.footer img {
  max-width: 100%;
  height: 200px;
  margin-bottom: -50px;
}

@media (max-width: 768px) {
  .footer .col-lg-4 {
    text-align: center;
    margin-bottom: 20px;
  }
}


@media (max-width:770px) {

  .navbar-bran{
    display: block;
  }

  .contact {
    display: none;
  }

  .container-fluid {
    flex-wrap: nowrap;
  }

  .navbar-brand img {
    /* height: 180px; */
    height: 79px;
    margin-top: -20px;

  }
  /* .navbar {
    height: 140px;
} */
  .navbar-nav {
    background-color: #796f6f;
    margin-left: 16px;
  }

  .navbar-toggler {
    margin-top: -40px;
  }

  .navbar-toggler:focus {
    border: none;
    box-shadow: none;
    outline: none;
    transform: ease 0.3s all;
  }

  .another {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  }

  .px-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-toggler {
    border: none;
    outline: none;
  }

  px-5 {
    padding-right: 0px;
    padding-left: 0px;
  }
}


.hero {
  position: relative;
  overflow: hidden;
  background: black;
  
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: twinkle 2s infinite ease-in-out alternate;
}

@keyframes twinkle {
  from {
    opacity: 0.2;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1.3);
  }
}

.hero {
  position: relative;
  overflow: hidden;
  background: black;
  min-height: 100vh;

}


body {
  background-color: #000;
 
}

.profile-card img {
  width: 100%;
  border-radius: 10px;
}

.big-card {
  border: 2px solid #fff;
  
  border-radius: 15px;
  padding: 2rem;
  color: #fff;
  background: transparent;
 
}




.questions-container {
  max-width: 800px;
  margin: 0 auto;
}


.question button {
  width: 100%;
  background-color: #685e5e17;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  border: 2px solid #796f6f;
  border: none;
  outline: none;
  font-size: 18px;
  color: #796f6f;
  font-weight: 700;
  cursor: pointer;
  border-radius: 20px;
}

.question p {
  font-size: 18px;
  max-height: 0;
  opacity: 0;
  line-height: 1.5;
  overflow: hidden;
  transition: all 0.6s ease;
  color: #796f6f;
}
.navbar-bran{
  display: none;
}
.d-arrow {
  transition: transform 0.5s ease-in;
  color: #796f6f;
}


.question p.show {
  max-height: 300px;
  opacity: 1;
  padding: 0px 15px 30px 15px;
}

.question button .d-arrow.rotate {
  transform: rotate(180deg);
}


@media (max-width: 767px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    }

  .navbar-nav .nav-link {
    padding: 1rem 0;
    
    border-bottom: 1px solid #ddd;
    
  }

  .navbar-toggler {
    display: block;
    
  }

  .navbar-collapse {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}


@media (min-width: 768px) {
  .navbar-nav {
    display: flex;
    flex-direction: row;
   
  }

  .navbar-nav .nav-link {
    padding: 0.5rem 1rem;
  }

  .navbar-toggler {
    display: none;
  }
}

.star-rating {
  direction: rtl;
  display: inline-flex;
  font-size: 2rem;
}

.star-rating input[type="radio"] {
  display: none;
}

.star-rating label {
  color: #ffc107;
  cursor: pointer;
  transition: color 0.2s;
  margin-left: 8px;
}

.buy-now{
  padding: 8px 7px;
  background-color: #d29f07;
  color: #e8e4e4;
  border: none;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #d29f07;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.441);
}

.buy-now:hover {
  background-color: #d29f07;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.441);
}


.hurry{
  font-size: 22px;
  margin-top: -14px;
  color: #ffc107ac;
}


.features li{
  list-style: none;
  font-size: 22px;
}

.video-container video{
  border-radius: 15px; box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
  width: 80%;
}