* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #111;
    --secondary-color: #ffffff;
    --third: #97681A;
    --font-family: 'Arial', sans-serif;
    --font-size: 16px;
    --line-height: 1.5;

    --secondary-font-color: #6c757d;
    --text-black: #1f1f1f;
    --text-blue: #1f294c;
    --text-dark-blue: #111;
    --text-gray: #a1a2b1;
    --text-white: #fff;
    --border-color: #e0e0e0;
    --secondary-font: 'open sans', sans-serif;
    --primary-font: 'open sans condensed', sans-serif;
   
}

html,
body {
    position: relative;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--text-black);
    background-color: var(--text-dark-blue);
    position: relative;
}


h3 {
    color: var(--text-white);
    font-weight: 600;
    font-size: 5rem;
}

h4 {
    color: var(--text-gray);
    font-size: 3.20rem;
    font-weight: 600;
}

h2 {
    color: var(--third);
    font-size: 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
}

.blue-second {
    color: var(--third);
    font-size: 1.rem;
    font-weight: 700;
    margin-top: 0.5rem;
}

h3 {
    color: var(--secondary-font-color);
    font-size: 80px;
    font-weight: 700;
    margin-top: 0.5rem;
}

.navbar-brand img {
    /* height: 200px; */
    height: 80px;
    /* margin-top: -54px; */
    margin-top: 0px;
}

.navbar-nav {
    background-color: var(--secondary-color);
    color: #e0e0e0;
    border-radius: 20px;
}

.my-7 {
    margin-left: 4rem 0;
}

.px-7 {
    padding-left: 100px;
}

.py-7 {
    padding-top: 100px;
}

.before-navbar {
    background-color: var(--text-black);
    box-shadow: 0 0 1px rgba(57, 55, 55, 0.018);

}

.before-navbar {
    background-color: #111;
    /* Dark background for contrast */
    color: #fff;
    /* White text */
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 0 10px rgba(200, 206, 206, 0.5),
        0 0 10px rgba(147, 161, 161, 0.3);
    z-index: 10;
    position: relative;
}

.course-sell-wrapper {
    background-image: url('bg.webp');
    
    width: 100%;

}
.para2{
    
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-gray);
    letter-spacing: 1px;
    margin: 20px 0;
}
.back-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.447);
    z-index: -1;
}

h1 {
    color: var(--text-dark-blue);
    font-size: 6rem;
    font-weight: 700;
}

.include-h1 {
    color: var(--text-gray);
    font-size: 5.2rem;
    font-weight: 700;
}

button p {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.para1 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-gray);
}

.navbar {
    transition: top 0.3s ease;
}

.contact i {
    font-size: 30px;
    color: var(--text-white);
}

.para {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-gray);
}

.marquee {
    width: 100%;
    padding: 10px 0px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    text-align: center;
    overflow: hidden;
}

.marquee h3 {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    
}

.marquee-wrapper {
    width: 100000px;
    animation: marqueeAnimation 38s linear 0s infinite running;
}

.marquee h3 .marquee-title {
    margin-right: 20px;
    float: left;
}

.text-stroke-black {
    color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #e0e0e0;

}


@keyframes marqueeAnimation {
    100% {
        transform: translateX(-4600px);
    }
}

.offer-item {
    height: 200px;
    border: 2px solid var(--border-color);
    border-radius: 20px;
    box-shadow: 0 1px 10px rgba(12, 64, 123, 0.308), 0 2px 10px rgba(106, 115, 115, 0.8);
    ;
}

.para {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-gray);
    letter-spacing: 1px;
}

.text {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--text-gray);
    letter-spacing: 1px;
}

.second {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-gray);
    letter-spacing: 1px;
}

h5 {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-gray);
    letter-spacing: 1px;

}

.box {
    border: 2px solid var(--border-color);
    padding: 20px 30px;
    border-radius: 20px;
    height: 340px;
    box-shadow: 0 1px 10px rgba(12, 64, 123, 0.308), 0 2px 10px rgba(106, 115, 115, 0.8);
}

.content {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-gray);
}

.video-slider {
    width: 100%;
    height: 80%;
    /* Use full height of the container */
    border: 2px solid var(--border-color);
    border-radius: 20px;
    background-color: #55566163;
    box-shadow: 0 1px 16px rgba(12, 64, 123, 0.308), 0 2px 20px rgba(106, 115, 115, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.mySwiper {
    width: 100%;
    height: 100%;
    max-width: 700px;
    margin: 0 auto;
}


.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.mySwiper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  
    border-radius: 20px;
}


.swiper-slide video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


@media (max-width: 768px) {
    .video-slider {
        height: 60vh;
        
    }

    .mySwiper {
        height: 60vh;
       
    }

    .mySwiper video {
        height: 100%;
       }
}

@media (max-width: 576px) {
    .video-slider {
        height: 50vh;
        
    }

    .mySwiper {
        height: 50vh;
        
    }

    .mySwiper video {
        height: 100%;
       
    }
}

.swiper-button-next,
.swiper-button-prev {
    display: none !important;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 50%;
    padding: 10px;
}


.suitable {
    background: linear-gradient(to bottom, rgba(77, 56, 77, 0.555), rgba(128, 128, 128, 0.664), rgb(3, 3, 53));
    border-radius: 20px;
    /* height: 400px; */
    border: 1px solid gray;
    box-shadow: 0 1px 10px rgba(12, 64, 123, 0.308), 0 2px 10px rgba(106, 115, 115, 0.8);
}

.contet {
    border-bottom: 2px solid var(--secondary-font-color);
}

.apply button {
    border-radius: 10px;
}



.social-icon li {
    color: #C69F4B;
    font-size: 22px;
}



video-container {
    position: absolute;
    top: -40px;
}

.btn {
    background-color: var(--secondary-color);
    border: 2px solid var(--text-white);
    color: var(--third);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.btn:hover {
    color: var(--text-blue);
    background-color: var(--border-color);
    border-color: var(--bs-btn-hover-border-color);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
}

.main-div {
    border: 2px solid var(--border-color);
    height: 420px;
}

.main-div1 {
    border: 2px solid var(--border-color);
    height: 420px;
}

.main-div1 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}



.main-div video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.interested {
    border: 2px solid var(--border-color);
}

.button {
    background-color: var(--text-blue);
    border: 2px solid var(--text-white);
    color: var(--border-color);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 40px;
}


.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: -2rem;
}

.second1 {
    font-size: 15px;
    color: #9E9FAE;
}
.navbar{
    height: 100px;
   
}
.navbar-nav li a {
    padding: 0px 40px;
}

.navbar-nav {
    margin-left: -200px;
}

#mainNavbar {
    transition: all 0.3s ease-in-out;
    background-color: transparent;
}

.show{
    font-weight: 600;
    color: var(--text-white);
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}
.navbar-toggler:focus {
    border: none;
    box-shadow: none;
    outline: none;
}
.scrolled {
    background-color: #090909 !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top:-2px;
}


.footer {
    background-color: var(--text-dark-blue);
    color: var(--text-white);
    padding: 10px 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    border-radius: 50%;
    padding: 10px;
    background-color: #b3791c;
    
}


.carousel-control-prev,
.carousel-control-next {
    background-color: transparent;
    border: none;
    
}


.carousel-control-prev-icon {
    background-color: #87580b;
    
}


.carousel-control-next-icon {
    background-color: #97681A;
    
}

#contact span {
    font-size: 18px;
}


textarea {
    background-color: transparent;
    resize: none;
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 10px 12px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    transition: border-color 0.3s;
}



form {
    background: transparent;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #aba1a1;
}

.form-control1 {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
    transition: border-color 0.3s;
}

.form-control1:focus {
    border-color: #56500f;
    outline: none;
}

.btn {
    background-color: transparent;
    color: #fff;
    /* padding: 12px 20px; */
    padding: 8px 13px;
    border: none;
    border-radius: 6px;
    border: 2px solid #2f2c2c;
    cursor: pointer;
    font-size: 16px;
    transition: ease 0.3s;
}

.btn:hover {
    background-color: var(--third);
}

.mb-3 {
    margin-bottom: 20px;
}

input{
    background: transparent;
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 10px 12px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    transition: border-color 0.3s;
}


.item{
    border: 2px solid var(--border-color);
    padding: 20px 30px;
    border-radius: 20px;
    height: 300px;
    box-shadow: 0 1px 10px rgba(12, 64, 123, 0.308), 0 2px 10px rgba(106, 115, 115, 0.8);
}
 
.item p{
    font-size: 18px;
    font-weight: 500;
    color: var(--text-gray);
}

.options ul li{
   
    font-weight: 600;
    color: var(--text-gray);
    margin-bottom: 10px;
    text-decoration: none;
}

.options ul li a{
    color: var(--third);
    margin-right: 10px;
}

.owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.owl-carousel .owl-prev,
.owl-carousel .owl-next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); 
    font-size: 30px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.owl-carousel .owl-prev {
    left: 10px; 
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    margin-top: 10px;
}
.owl-carousel .owl-next {
    right: 10px;
    top: -10px; 
}
.owl-carousel .owl-prev:hover,
.owl-carousel .owl-next:hover {
    background-color: rgba(158, 156, 13, 0.8);
    font-size: 55px;
}

.owl-next span,.owl-prev span{
    font-size: 55px;
    color: var(--third);
    font-weight: 600;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: #86979104;
    color: #FFF;
    text-decoration: none;
}

.owl-carousel1 .owl-nav span {
    display: none;
}

.custom-strike {
    position: relative;
    display: inline-block;
    color: antiquewhite;
}

.buy-now span{
    font-size: 22px;
    font-weight: 600;
    color: var(--third);
    margin: 0;
    padding: 0;
}

.buy-now p{
    font-size: 18px;
}

.custom-strike::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%; 
    height: 2px; 
    background: antiquewhite; 
    transform: translateY(-50%);
    transform: rotate(10deg); 
}

.heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
}

h2 {
    color: #aaacae;
    margin-top: 30px;
    font-size: 25px;
}

p {
    margin-bottom: 1em;
    color: #9f9a9a;
    font-size: 20px;
}
li{
    color: #6c757d;
    font-size: 18px
}

a{
    color: #777;
}

ol {
    margin-bottom: 1em;
}

.terms-section {
    margin-bottom: 40px;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #777;
}

footer a {
    color: #646565;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width:770px) {
    .heading{
        font-size: 28px;
    }
}
